*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
    font-family: "Montserrat", sans-serif; 
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --text-color: #000000;
    --bg-color: #fff;

    --other-color: #fff;
    --other-bgcolor: #000000;

    --big-font: 5.5rem;
    --p-font: 1rem;
    --other-font: "Space Mono", monospace;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

section{
    padding: 20px 10% 20px;
}

/* ------------- ALL HEADER CODE ----------- */
header{
    position: fixed; 
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify content degistirebilirim sonra buna bak! */
    padding: 20px 10%;
    /* padding degerini de yanlarda azaltabilirim bak! */
    transition: all ease .55s;
    background: var(--bg-color);
    box-shadow: 0 2px 5px -2px #0000001a;
}

.nickname {
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.5s;
    max-width: 200px;
    width: 100%;
    height: auto;
    align-items: center;
    color: var(--text-color);
    vertical-align: middle;
    font-size: var(--p-font);
    font-weight: 600;
}

.nickname span.full-name {
    position: absolute;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    transition: max-width 0.5s ease;
}

.nickname:hover span.full-name {
    max-width: 100%;
}

.nickname span.short-name {
    transition: opacity 0.5s ease;
}

.nickname:hover span.short-name {
    opacity: 0;
}



.navlist{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;   
}

.navlist a{
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 600;
    margin: 0 35px;
    border-bottom: 2px solid transparent;
    transition: all .6s ease;
    display: inline-block;
}

.navlist a:hover{
    transform: translateY(-5px) scale(1);
    border-bottom: 2px solid black;
}

.navlist a:active{
    border-bottom: 2px solid black;
    /* çalışmıyor sonra bakıcam */
}


.h-main{
    display: flex;
    align-items: center;
    vertical-align: middle;
}

#menu-icon{
    font-size: 25px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin: 15px;
    display: none;
}
/* ------------- ALL HEADER CODE ----------- */



/* ------------- HERO SECTION CODE ----------- */
.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    width: 100%;
}

.photo-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.photo-box {
    flex: 1 1 calc(33.333% - 20px);
    margin: 10px;
    text-align: center;
    overflow: hidden;
    transition: flex-basis 0.3s ease; /* Geçiş efekti için */
    padding: 10px;
}

.photo-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: rotate(-10deg);
}

.name-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-box h1 {
    font-size: 3.5vw;
    font-family: var(--other-font);
    font-weight: 500;
    color: var(--text-color);    
}

.job-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.job-box h2 {
    font-size: 2.5vw;
    font-weight: 500;
    color: var(--text-color);
}

.job-box p {
    font-weight: 400;
    color: var(--text-color);
    font-size: 1vw;
}
/* 
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    background-color: aqua;
} */

/* .container .my-name {
    font-size: 4rem;
    font-family: var(--other-font);
    font-weight: 500;
    flex: 1;
    color: var(--text-color);
    background-color: rebeccapurple;
    text-align: center;
    
} */

/* .container img {
    width: 200px;
    max-width: 100%;
    height: auto;
    transform: rotate(-10deg);
    object-fit: cover;
    flex: 1;
    background-color: red;
} */

/* .container .hero-text{
    flex: 1;
    text-align: center;
    background-color: salmon;
}

.hero-text h2 {
    font-size: 3.5rem;
    font-weight: 500;
    color: var(--text-color);
}

.hero-text p {
    font-weight: 400;
    color: var(--text-color);
    font-size: 1rem;
} */
/* ------------- HERO SECTION CODE ----------- */





/* ------------- ALL SECTION CODE ----------- */
.center-text{
    text-align: center;
}

.center-text h2{
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--text-color);
}

.blog-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 1.7rem;
    margin-top: 4rem;
}

.blog-img{
    overflow: hidden;
    position: relative; /* info text için ekledim */
    display: inline-block; /* info text için ekledim */
    width: 100%; /* info text için ekledim */
}

.blog-img img{
    display: block;
    height: 390px;
    width: 100%;
    object-fit: cover;
    transition: filter 0.3s ease; /* Geçiş animasyonu */
    cursor: pointer;
    object-fit: cover;
}

.blog-img img:hover{
    filter: brightness(50%); /* Görselin parlaklığını azaltır */
}

.blog-box{
    transition: all .3s ease;
    border-radius: 7px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 100%; /* geçici ekledim polaroid tasarım için */
}

.blog-content .blog-box:hover{
    transform: translateY(-5px) scale(1);
}

.text-top-left, .text-bottom-right {
    position: absolute;
    color: var(--bg-color);
    padding: 5px;
    display: none;
    transition: all 0.5s ease-out;
}

.text-top-left {
    top: 10px;
    left: 10px;
    font-size: 15px;
    text-transform: lowercase;
}

.text-bottom-right {
    bottom: 10px;
    right: 10px;
    font-size: 25px;
    text-transform: uppercase;
}

.blog-box:hover .text-top-left, .blog-box:hover .text-bottom-right {
    display: block;
}
 

.blog-in{
    padding: 40px 0px;
    position: relative;
}

.creator{
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start; 
    flex-wrap: nowrap;  
    margin: 15px 0px 0px 20px;
}

.creator img{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    object-fit: cover;
    margin-right: 10px;
    /* görselin kalitesini yükseltemedim? */
    object-fit: cover;
}

.creator-name{
    font-size: 13px;
    font-weight: 400;
}

#works {
    scroll-margin-top: 100px; /* Sabit başlığın yüksekliğine uygun olarak ayarlayın */
}
/* ------------- ALL SECTION CODE ----------- */




/* ------------- ALL ABOUT CODE ----------- */
.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin-top: 50px;
}

.about-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: var(--text-color);
    padding: 20px;
    flex: 1;
}

.a-top-top{
    font-size: 70px;
    font-weight: 500;
}

.about-top img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.about-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: auto; /* düzenleyeceğim */
    color: var(--text-color);
    padding: 20px;
    flex: 1;
}

.a-bottom-top{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
}

.about-bottom img {
    width: 300px;
    height: 300px;
    transform: rotate(-5deg);
    object-fit: contain;
}

#about-me{
    scroll-margin-top: 50px; /* Sabit başlığın yüksekliğine uygun olarak ayarlayın */
}
/* ------------- ALL ABOUT CODE ----------- */




/* ------------- ALL WITH ME CODE ----------- */
.with-me-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.with-me-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}

.with-me-t{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.with-me-t p{
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.with-me-t h2{
    color: var(--text-color);
    font-size: 80px;
    font-weight: 500;
}

.with-me-b{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.with-me-b ul li{
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 10px;
}


.with-me-right{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 20px;
}

.with-me-right img{
    overflow: hidden;
    transform: rotate(10deg);
    height: auto;
    width: 300px;
    object-fit: cover;
}

#work-with-me{
    scroll-margin-top: 10px; /* Sabit başlığın yüksekliğine uygun olarak ayarlayın */
}
/* ------------- ALL WITH ME CODE ----------- */



/* ------------ scroll button code ------------ */
.scroll-btnnn{
    position: fixed;
    bottom: 2.9rem;
    right: 3.5rem;
}

.scroll-btnnn i{
    font-size: 27px;
    color: var(--bg-color);
    padding: 10px;
    background: black; /* değiştiricem*/
    border-radius: 50%;
}
/* ------------ scroll button code ------------ */



/* ------------- ALL MEDIA CODE ----------- */
@media only screen and (max-width: 1400px){
    header{
        padding: 20px 5%;
    }

    section{
        padding: 20px 5%;
    }

    /* hero üclü kutuların özellikleri degistirmedim sonra bakıcam */
    .photo-box {
        margin: 10px; 
        padding: 10px;
    }

}



@media only screen and (max-width: 1100px){
    
    header{
        padding: 20px 3%;
    }
    
    section{
        padding: 20px 3%;
    }

    
    .blog-content{
        grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    }

    .scroll-btnnn{
        position: fixed;
        bottom: 2.1rem;
        right: 2.2rem;
    }
}


@media only screen and (max-width: 1070px){
    
    header{
        padding: 15px 3%;
    }
    
    section{
        padding: 15px 3%;
    }
    
    #menu-icon{
        display: block;
    }
    
    .navlist{
        position: absolute;
        top: 100%;
        width: 100%;
        height: 200px;
        right: -100%;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        border-radius: 0px 0px 20px 20px;
        padding: 5px 0;
        box-shadow: 0px 20px 20px rgb(15 54 55 / 20%);
        clip-path: circle(144% at 0% 0%);
        transition: all .55s ease-in-out;
    }

    .navlist a{
        display: block;
        padding: 0;
        margin-bottom: 22px;
        font-size: 22px;
        font-weight: 600;
        border-bottom: none;
    }

    .navlist a:hover{
        border-bottom: none;
    }

    .navlist.open{
        right: 0;
    }

    .blog-content{
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    }
    
    .about-top{
        padding: 10px;
    }
    
    .about-top img{
        width: 300px;
        height: 300px;
    }
    
    .about-bottom{
        padding: 10px;
    }
    
    .about-bottom img {
        width: 300px;
        height: 300px;
    }

    .with-me-left{
        padding: 15px;
    }
    
    .with-me-t{
        padding: 8px;
    }
    
    .with-me-t h2{
        font-size: 70px;
    }
    
    .with-me-b{
        padding: 15px;
    }
    
    .with-me-b ul li{
        font-size: 20px;
    }
    
    
    .with-me-right{
        padding: 15px;
    }
    
    .with-me-right img{
        width: 280px;
    }
    
}


@media only screen and (max-width: 768px) {
    
    /* === hero kısmının 2'li sutuna düsmesi icin var */
    .photo-box {
        flex-basis: calc(50% - 20px); /* İki sütunlu düzen için hesaplama */
    }
    
    .photo-box img {
        width: 70%;
    }
    
    .name-box h1 {
        font-size: 5vw; /* bunu büyüttüm sonra bakıcam */
    }
    
    .job-box h2 {
        font-size: 3.5vw; /* bunu büyüttüm sonra bakıcam */
    }
    
    .job-box p {
        font-size: 1.5vw; /* bunu büyüttüm sonra bakıcam */
        margin-top: 15px;
    }

    header{
        padding: 10px 3%;
    }
    
    section{
        padding: 10px 3%;
    }

    .blog-content{
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    }
    
    .with-me-t h2{
        font-size: 70px;
    }
    
    .with-me-b ul li{
        margin-top: 15px;
    }
    
    .with-me-right{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    
    .with-me-right img{
        width: 250px;
    }

    
    .a-top-top{
        font-size: 60px;
    }

    .a-bottom-top{
        font-size: 20px;
    }

    .about-top{
        padding: 20px;
    }
    
    .about-top img{
        width: 250px;
        height: 250px;
    }
    
    .about-bottom{
        padding: 20px;
    }
    
    .about-bottom img {
        width: 250px;
        height: 250px;
    }

    
    
}

@media only screen and (max-width: 700px){
    
    .blog-content{
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
        gap: 1rem;
    }

    .a-top-top{
        font-size: 60px;
    }

    .a-bottom-top{
        font-size: 18px;
    }

    .about-top{
        padding: 10px;
    }
    
    .about-top img{
        width: 200px;
        height: 200px;
    }
    
    .about-bottom{
        padding: 10px;
    }
    
    .about-bottom img {
        width: 200px;
        height: 200px;
    }
 
}
/* ------------- ALL MEDIA CODE ----------- */

